@model List<CarrinhoViewModel>
@{
    ViewData["Title"] = "Carrinho";
}

@{

    if (Model == null || Model.Count <= 0)
    {
        <h2>Seu carrinho está vazio.</h2>
        <p>Para continuar comprando, navegue pelas categorias do site ou faça uma busca pelo seu produto.</p>
    }
    else
    {
        <form method="post" action="/Carrinho/FinalizarPedido">

            <div class="col-10 conteudo-carrinho">
                <div class="padding-top-50">
                    <table class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="padding-10">Produto</th>
                                <th scope="col" class="padding-10">Quantidade</th>
                                <th scope="col" class="padding-10">Unidade</th>
                                <th scope="col" class="padding-10">Total</th>
                                <th scope="col" class="padding-10">Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.DescricaoProduto</td>
                                    <td>@item.Quantidade</td>
                                    <td>@item.ValorProduto.ToString("C2", new System.Globalization.CultureInfo("pt-BR"))</td>
                                    <td>@item.ValorTotalProduto.ToString("C2", new System.Globalization.CultureInfo("pt-BR"))</td>
                                    <td class="text-align-center">
                                        <button class="btn btn-link btn-remover" data-codigo="@item.CodigoProduto" onclick="removerItem('@item.CodigoProduto')" type="button">
                                            <span class="material-symbols-outlined text-danger">
                                                delete
                                            </span>
                                        </button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <h3>Total do pedido: @ViewBag.TotalPedido.ToString("C2", new System.Globalization.CultureInfo("pt-BR"))</h3>

                    <button class="btn btn-outline-dark" type="submit">Finalizar compra</button>
                </div>
            </div>

        </form>
    }
}


